html {
   font-size: 13.5px;
   font-weight: 500;
   height: 100%;
   font-family: Helvetica, Arial, sans-serif;
}

body {
   margin: 0;
   text-rendering: optimizeLegibility;
   height: 100%;
}

* {
   box-sizing: border-box;
}

button {
   user-select: none;
   cursor: pointer;
}

.js-template {
   display: none;
}

.transition_t {
   transition: 100ms transform;
}

.transition_t-o {
   transition: 100ms transform, 100ms opacity;
}

.transition_t-w {
   transition: 100ms transform, 100ms width;
}


.grid {
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow: hidden;
}

.header {
   height: 45px;
   display: flex;
   border-bottom: 1px solid #ececec;
   flex-shrink: 0;
   box-shadow: 0px 0.5px 2px 0px rgba(0,0,0,0.1);
}
   
   .header__left {
      flex-grow: 1;
      flex-basis: 10%;
      display: flex;
      align-items: center
   }
   
      .header__menu {
         width: 50px;
         border-right: 1px solid #ececec;
         align-self: stretch;
         margin-right: 20px;
         display: flex;
         align-items: center;
         justify-content: center;
      }

         .header__menu-link {
            display: inline;
         }

         .header__menu-icon {
            fill: #adb5b4;
            height: 20px;
         }

      /**/

      .header__mytasks {
         margin-right: 30px;
         text-decoration: none;
         color: black;
      }

      .header__inbox {
         margin-right: 30px;
         text-decoration: none;
         color: #adb5b4;
      }

      .header__plus {
         background-image: linear-gradient( 73deg, #ff3b69 22%, #ff9d0a 100%);
         height: 25px;
         width: 25px;
         border-radius: 100%;
         padding: 5px;
         flex-shrink: 0;
      }

   /**/
   
   .header__middle {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
   }

      .header__form{
         border: 1px solid #ececec;
         border-radius: 20px;
         padding: 3px;
         padding-left: 9px;
         margin: 0px 10px 0px 10px;
         height: 35px;
         display: flex;
         flex-grow: 1;
         align-items: center;
      }

         .header__lens{
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 100%;
         }
         
            .header__lens svg {
               height: 20px;
               stroke: #adb5b4;
            }

         /**/


         .header__input{
            outline: none;
            border: none;
            font-weight: 600;
            flex-grow: 1;
         }

         .header__input::placeholder {
            color: #adb5b4;
         }

      /**/

   /**/


   .header__right {
      flex-grow: 1;
      flex-basis: 10%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

      .header__help {
         margin-right: 35px;
         text-decoration: none;
         color: #adb5b4;
         display: flex;
         align-items: center;
      }

         .header__help-arrow {
            stroke: #adb5b4;
            height: 10px;
            margin-left: 3px;
         }

      /**/

      .header__projects {
         margin-right: 15px;
         text-decoration: none;
         color: #adb5b4;
         margin-right: 10px;
      }

      .header__user-img {
         border: 1px solid #adb5b4;
         height: 30px;
         width: 30px;
         border-radius: 100%;
         margin-right: 25px;
         flex-shrink: 0;
         background: top/cover url("user-img.jpg");
      }

   /**/

/**/

.main{
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
   .main___head{
      display: block;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
      z-index: 1;
   }
      .main__row{
         padding: 10px 0px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
         
         .main__user-img{
            border: 1px solid #adb5b4;
            background-color: white;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            margin-right: 10px;
            background: top/cover url("user-img.jpg");
         }

         .main__title {
            margin: 0;
            margin-right: 5px;
         }

         .main__arrow{
            margin-top: 8px;
            align-self: flex-start;
            stroke: #adb5b4;
            height: 10px;
         }

      /**/

      .main__row-2{
         padding: 3px;
         outline: none;
         background: none;
         border: none;
         margin: 0 0 5px 10px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
      }

         .main__double-arrow {
            transform: rotate(180deg);
            stroke: #adb5b4;
            height: 6px;
            margin-bottom: -2px;
         }
      
      /**/

   /**/

   .main__body {
      flex-grow: 1;
      background: top/cover url("bg-img.jpg");
      display: flex;
      justify-content: center;
   }

/**/
