.edit{
   width: 100%;
   box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

   .edit__box{
      height: 100%;
      border-radius: 3px 3px 0px 0px;
      background: white;
      display: flex;
      flex-direction: column;
   }

      .edit__header {
         height: 50px;
         border-bottom: 1px solid #ececec;
         display: flex;
         align-items: center;
         flex-shrink: 0;
         padding-left: 25px;
      }

         .edit__user-img{
            border: 1px solid #adb5b4;
            background-color: white;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            margin-right: 10px;
            flex-shrink: 0;
            background: top/cover url("../../../img/user.jpg");
         }
         
         .edit__user-name {
            color: black;
            margin-right: 10px;
         }
         
         .edit__user-status{
            height: 15px;
            width: 15px;
            border: 2px solid #adb5b4;
            border-radius: 100%;
            margin-right: 25px;
            flex-shrink: 0;
         }
         
         .edit__date{
            display: block;
            outline: none;
            background: none;
            border: none;
            display: flex;
            align-items: center;
         }

            .edit__date-icon{
               border: 1px solid #adb5b4;
               border-radius: 100%;
               border-style: dashed;
               height: 30px;
               width: 30px;
            }
         
            .edit__date-text{
               color: #adb5b4;
               margin: 0 15px 0 5px;
            }
         
         /**/
         
         .edit__button {
            outline: none;
            background: none;
            border: 1px solid #adb5b4;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            margin-right: 10px;
            padding: 0;
         }

         .edit__icon {
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
         }

            .edit__icon svg {
               height: 20px;
               width: 20px;
               stroke: #adb5b4;
            }

         /**/

         .edit__close {
            outline: none;
            background: none;
            border: none;
            align-self: flex-start;
            margin: 3px 5px;
            padding: 0 5px;
            color: #adb5b4;
            font-size: 30px;
            font-weight: 400;
            margin-left: auto;
         }

            .edit__close-text {
               pointer-events: none;
               display: inline-block;
               transform: rotate(45deg);
            }

         /**/
      /**/
      
      .edit__body {
         padding: 50px 20px 20px;
         overflow-y: overlay;
      }

         .edit__body::-webkit-scrollbar {
            width: 5px;
         }
         
         .edit__body::-webkit-scrollbar-thumb {
            background-color: #adb5b4;
         }

         .edit__form{
            display: flex;
            flex-direction: column;
         }
      
            .edit__title-box{
               display: flex;
               align-items: center;
               padding: 3px 5px;
               border: 1px solid transparent;
               border-radius: 3px;
               margin-bottom: 5px;
            }

               .edit__title-box:hover{
                  border: 1px solid #ececec;
               }

               .edit__title-box--focus {
                  border-color: transparent !important;
                  /*box-shadow: 0 0 0 2px lightskyblue;*/
               }

               .edit__badge {
                  background-color: unset;
                  border: 1px solid #adb5b4;
                  border-radius: 100%;
                  height: 30px;
                  width: 30px;
                  outline: unset;
               }

                  .edit__badge--done {
                     border-color: lightseagreen;
                  }

                  .edit__badge svg {
                     pointer-events: none;
                     stroke: #adb5b4;
                  }
                  
                  .edit__badge--done svg {
                     stroke: lightseagreen;
                  }

               /**/

               .edit__title{
                  font-family: Helvetica, Arial, sans-serif;
                  border: unset;
                  font-weight: 600;
                  font-size: 1.8rem;
                  outline: none;
                  flex-grow: 1;
                  padding: 0px 0px 0px 10px;
               }

                  .edit__title::placeholder {
                     color: #adb5b4;
                  }
               
               /**/
                  
            /**/

            .edit__description {
               font-family: Helvetica, Arial, sans-serif;
               margin-left: 37px; 
               padding: 5px 10px;
               border: 1px solid transparent;
               resize: none;
               outline: none;
               border-radius: 3px;
            }

               .edit__description:hover {
                  border-color: #ececec;
               }

               .edit__description:focus{
                  border-color: transparent !important;
                  /*box-shadow: 0 0 0 2px lightskyblue;*/
               }

               .edit__description::placeholder {
                  color: #adb5b4;
               }
            
            /**/
         /**/
      /**/

      .edit__footer {
         margin-top: auto;
         padding: 10px 25px 10px 25px;
         display: flex;
         align-items: flex-start;
         background-color: #f6f8f9;
         border-top: 1px solid #ececec;
      }
         .edit__user-img--comments {
            display: initial;
         }

         .edit__comment {
            font-family: Helvetica, Arial, sans-serif; 
            padding: 15px 10px;
            border: 1px solid #ececec;
            resize: none;
            border-radius: 3px;
            flex-grow: 1;
         }

         .edit__user-img--comments {
            border-color: #ececec;
         }

         .edit__comment::placeholder {
            color: #adb5b4;
         }

      /**/
   /**/
/**/