.list__box{
   height: 100%;
   padding-bottom: 30px;
   border-radius: 3px 3px 0px 0px;
   background: white;
}

   .list__header {
      height: 50px;
      border-bottom: 1px solid lightgray;
      display: flex;
      align-items: center;
      padding-left: 30px;
      padding-right: 20px;
   }

      .list__add {
         outline: none;
         background: none;
         border: 1px solid #14aaf5;
         border-radius: 3px;
         color: #14aaf5;
         padding: 7px;
         font-weight: 600;
      }
      
      .list__config {
         outline: none;
         background: none;
         height: 15px;
         width: 15px;
         border: 1px solid lightgray;
         border-radius: 100%;
         margin-left: auto;
      }

   /**/

   .list__body {
      display: block;
   }
   
   .list__list {
      list-style: none;
      margin: 0;
      padding: 0px 0px;
   }

      .list__row {
         display: flex;
         align-items: center;
         padding-right: 30px;
         cursor: pointer;
      }

         .list__row--empty {
            padding-left: 30px;
            cursor: initial;
         }
         
         .list__row--selected {
            transform: translateY(-1px);
            z-index: 1;
            height: 36px;
            margin-bottom: -1px;
            padding: 1px 0 0 0;
            background-color: #edf8ff;
         }

         .list__drag {
            width: 30px;
            align-self: stretch;
            line-height: 0.5rem;
            font-size: 1.3rem;
            font-weight: 700;
            color: lightgray;
            text-align: center;
            padding: 0;
            padding-bottom: 9px;
            visibility: hidden;
            cursor: move;
            background-color: unset;
            border: unset;
         }

            .list__list:not(.dragging) .list__row:hover .list__drag {
               visibility: unset;
            }

            /*.dragging .list__drag {
               visibility: hidden !important;
            }*/

         /**/

         .task {
            flex-grow: 1;
            display: flex;
            align-items: center;
            height: 35px;
            border-bottom: 1px solid lightgray;
            pointer-events: none;
         }

            .list__row--selected .task {
               border-color: transparent; 
            }

            .task__badge {
               border: 1px solid lightgrey;
               border-radius: 100%;
               background-color: unset;
               height: 20px;
               width: 20px;
               margin-right: 10px;
               padding: 3px;
               outline: unset;
            }

               .task__badge svg {
                  stroke: lightgray;
               }

            /**/

            .task__text {
               margin: 0;
            }

            .task__assign {
               display: none;
               outline: none;
               background: none;
               height: 15px;
               width: 15px;
               border: 1px solid lightgray;
               border-radius: 100%;
               margin-left: auto;
            }

               .list__row--selected .task__assign{
                  display: block;
               }

            /**/
         /**/

         .list__arrow {
            display: none;
            color: lightgray;
            width: 30px;
            padding-left: 6px;
            font-size: 0.9rem;
         }

            .list__row--selected .list__arrow {
               display: inline-block;
            }

         /**/
      /**/
   /**/
/**/


/*

.dragging  .drag-spot:not(.drag-target):hover {
   border-top: 1px solid greenyellow;
   padding-top: 0;
   height: 36px;
   margin-bottom: -1px;
   z-index: 1;
   transform: translateY(-1px);
}
*/


.drag-hover {
   border-top: 1px solid greenyellow;
   padding-top: 0;
   height: 36px;
   margin-bottom: -1px;
   z-index: 1;
   transform: translateY(-1px);
}

.dragging .list__row {
   cursor: initial;
}

.drag-target .task * {
   opacity: 0.4;
}



/**/