.list__box{
   height: 100%;
   border-radius: 3px 3px 0px 0px;
   background: white;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

   .list__header {
      height: 50px;
      border-bottom: 1px solid #ececec;
      display: flex;
      align-items: center;
      padding-left: 30px;
      padding-right: 20px;
      flex-shrink: 0;
   }

      .list__add {
         outline: none;
         background: none;
         border: 1px solid #14aaf5;
         border-radius: 3px;
         color: #14aaf5;
         padding: 7px;
         font-weight: 600;
      }
      
      .list__config {
         outline: none;
         background: none;
         border: none;
         margin-left: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         
      }

         .list__config svg {
            height: 20px;
            width: 20px;
            stroke: #adb5b4;
         }

      /**/

   /**/

   .list__body {
      display: block;
      overflow-y: overlay;
   }
   
   .list__list {
      list-style: none;
      margin: 0;
      padding: 2px 0px 50px 0px;
   }

      .list__row {
         display: flex;
         align-items: center;
         cursor: pointer;
      }

         .dragging .list__row {
            cursor: initial;
         }

         .list__row--empty {
            padding: 0px 30px;
            cursor: initial;
         }
         
         .list__row--selected {
            transform: translateY(-1px);
            z-index: 1;
            height: 36px;
            margin-bottom: -1px;
            padding: 1px 0 0 0;
            background-color: #edf8ff;
         }

         .list__drag {
            width: 30px;
            align-self: stretch;
            line-height: 0.5rem;
            font-size: 1.3rem;
            font-weight: 700;
            color: #adb5b4;
            text-align: center;
            padding: 0;
            padding-bottom: 9px;
            visibility: hidden;
            cursor: move;
            background-color: unset;
            border: unset;
         }

            .list__row:hover .list__drag {
               visibility: unset;
            }
            
            .dragging .list__row:hover .list__drag {
               visibility: hidden;
            }

         /**/

         .task {
            flex-grow: 1;
            display: flex;
            align-items: center;
            height: 35px;
            border-bottom: 1px solid #ececec;
            pointer-events: none;
         }

            .list__row--selected .task {
               border-color: transparent; 
            }

            .task__badge {
               border: 1px solid #adb5b4;
               border-radius: 100%;
               background-color: unset;
               height: 20px;
               width: 20px;
               margin-right: 10px;
               padding: 3px;
               outline: unset;
               pointer-events: all;
            }

               .dragging .task__badge {
                  pointer-events: none;
               }
               
               .task__badge svg {
                  pointer-events: none;
                  stroke: #adb5b4;
               }
               
               .task__badge--done {
                  background-color: lightseagreen;
                  border-color: white;
               }

               .task__badge--done svg {
                  stroke: white;
               }

            /**/

            .task__text {
               margin: 0;
            }

            .task__assign {
               visibility: hidden;
               outline: none;
               background: none;
               height: 14px;
               width: 14px;
               padding: 0;
               border: 2px solid #adb5b4;
               border-radius: 100%;
               margin-left: auto;
            }

               .list__row--selected .task__assign {
                  visibility: visible;
               }

            /**/
         /**/

         .list__arrow {
            display: flex;
            visibility: hidden;
            width: 30px;
            height: 100%;
            justify-content: center;
            align-items: center;
         }

            .list__arrow svg {
               transform: rotate(-90deg);
               height: 10px;
               width: 10px;
               stroke: #adb5b4;
            }

            .list__row--selected .list__arrow {
               visibility: visible;
            }

         /**/

      /**/
   /**/
/**/


/*
Chrome 60 does not resolves :hover when the the mouse button
is pressed. Using .drag-hover instead.
.dragging  .drag-spot:not(.drag-target):hover {
   border-top: 1px solid greenyellow;
   padding-top: 0;
   height: 36px;
   margin-bottom: -1px;
   z-index: 1;
   transform: translateY(-1px);
}
*/

.drag-hover {
   border-top: 2px solid mediumspringgreen;
   padding-top: 0;
   height: 37px;
   margin-bottom: -2px;
   z-index: 1;
   transform: translateY(-2px);
}

.drag-target {
   opacity: 0.3;
}




.list__body::-webkit-scrollbar {
   width: 5px;
}

.list__body::-webkit-scrollbar-thumb {
   background-color: #adb5b4;
}